#! This file belongs in ~/.ssh/config

### Example for adding server name
### Now you can ssh into server by 
### $ ssh citrisdance 

# Host citrisdance
# HostName citrisdance.soe.ucsc.edu
# User alui2
# ForwardX11 yes

# Host my-aws-instance
# HostName <public-ip-address-of-aws-instance>
# User ubuntu
# ForwardX11 yes
# IdentityFile path-to-my.pem  # remember to set permissions: chmod 400 path-to-my.pem
# LocalForward 8004 localhost:8004  # anything on host:8004 will be on localhost:8004
# PermitLocalCommand yes
# LocalCommand echo "Forwarding host:8004 to localhost:8004"





### Example add my computer to authorized keys in servers

#cat ~/.ssh/id_rsa.pub | ssh alui2@hyades.ucsc.edu 'cat >> ~/.ssh/authorized_keys2'
#cat ~/.ssh/id_rsa.pub | ssh alui2@citrisdance.soe.ucsc.edu 'cat >> ~/.ssh/authorized_keys'
