#! This file belongs in ~/.ssh/config

### EXAMPLE ###
# The following makes `ssh alui` a shorthand for 
# `ssh alui@servername.domain.com -X`.

# Host servername
# HostName servername.domain.com
# User alui
# ForwardX11 yes
### END OF EXAMPLE ###

# Host my-aws-instance
# HostName <public-ip-address-of-aws-instance>
# User ubuntu
# ForwardX11 yes
# IdentityFile path-to-my.pem  # remember to set permissions: chmod 400 path-to-my.pem
# LocalForward 8004 localhost:8004  # anything on host:8004 will be on localhost:8004
# PermitLocalCommand yes
# LocalCommand echo "Forwarding host:8004 to localhost:8004"


### Command for adding public key to correct path on server. ###

# cat ~/.ssh/id_rsa.pub | ssh username@servername.domain.com 'cat >> ~/.ssh/authorized_keys'
